.body-background
{
  background-color: #F3F3F4;
}

.navbar-brand
{
  font-size: larger;
}

.navbar-brand-home
{
  color: #257CBF;
}

.navbar-search
{
  background-color:#257CBF;
  padding: 10px;
}
.navbar-search-home
{
  padding: 10px;
}

.card-doctor
{
  margin-top: 30px;
  cursor: pointer;
}

h3
{
  font-weight: bold;
  font-size: 24px;
  color: #0A2D44;
  margin-bottom: 4px;
}

.doctor-specialty
{
  font-size: 10px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #56595E;
  margin-bottom: 6px;
}

.doctor-text
{
  margin-bottom: 4px;
}

p
{
  font-size: 16px;
  color: #56595E;
  margin-bottom: 1rem;
}

.footer-grey
{
  background-color: #EDEDED;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-text
{
  padding: 20px;
  color: #56595E;
  margin: 0px;
}

.avatar
{
  object-fit: cover;
  border-radius:50%;
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-left: 20px;
}

.avatar.big
{
  width: 180px;
  height: 180px;
  margin-bottom: 16px;
  margin-top: 24px;
  margin-left: 24px;
  margin-right: 16px;
}

.avatar.medium
{
  width: 64px;
  height: 64px;
  margin-right: 16px;
  margin-top: 0px;
  margin-left: 16px;
  margin-bottom: 0px;
}

.doctor-info-container
{
  height: 180px;
  margin-top: 24px;
  margin-left: 16px;
  display: flex;
  align-items: center;
}

.image-rectangle
{
  object-fit: cover;
  border-radius: 10px;
  width: 350px;
  height: 200px;
  margin-right: 20px;
}

.image-rectangle-right
{
  object-fit: cover;
  border-radius: 10px;
  width: 350px;
  height: 200px;
  margin-left: 20px;
}

.btn-primary.custom-btn {
  background-color: #257CBF;
  border-color: #257CBF;
}

.btn-primary.custom-btn:hover {
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.1);
}

.jumbotron {
  background-color: #FFFFFF !important;
}

.jumbotron-title
{
  font-weight: bold;
  font-size: 60px;
  color: #257CBF;
  margin-bottom: 0px;
}

.jumbotron-text
{
  font-size: 32px;
  text-align: center;
  color: #56595E;
}

.jumbotron-subtitle
{
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  color: #0A2D44;
}

.padding-big
{
  padding: 64px;
}

.padding-top-big
{
  padding-top: 64px;
}

.padding-bottom-big
{
  padding-bottom: 64px;
}

.margin-big
{
  margin: 64px;
}

.margin-bottom-medium
{
  margin-bottom: 48px;
}

.margin-bottom-small
{
  margin-bottom: 32px;
}

.margin-top-small
{
  margin-top: 32px;
}

.list-home
{
  text-align: left;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 32px;
}

.list-home-right
{
  text-align: right;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-right: 32px;
}

.a-white
{
  color: #FFFFFF;
}

.a-white:hover
{
  color: #FFFFFF;
}

.doctor-details-body
{
  background-color: #FFFFFF;
}

.center-horizontal
{
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr
{
  margin-top: 32px;
  margin-bottom: 32px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

.hr-sidebar
{
  margin-top: 8px;
  margin-bottom: 16px;
}

.hr-header-sidebar
{
  margin-top: 16px;
  margin-bottom: 16px;
}

.bg-white
{
  background-color: #FFFFFF;
}

h3
{
  font-size: 24px;
  color: #0A2D44;
  font-weight: bold;
}

h4
{
  font-size: 20px;
  color: #0A2D44;
  font-weight: bold;
}


.center-text-horizontaly
{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.navbar.scroll-spy
{
  background-color: #FFFFFF;
  border-bottom: 1px solid #EEEEEE;
  margin-bottom: 32px;
}

.fa-star
{
  margin-right: 4px;
  font-size: 20px;
  margin-bottom: 4px;
}

.star-yellow
{
  color: #FBD856;
}

.star-grey
{
  color: #E3E4E5;
}

.star-small
{
  font-size: 16px;
}

.star-container
{
  margin-left: 2px;
}

.sidebar-nav-fixed {
  background-color: #FFF;
  border-radius: 5px;
  padding: 16px;
  margin-top: 30px;
  border: 1px solid rgba(0,0,0,.125);
}

.sidebar-title
{
  margin-bottom: 8px;
}

.list-group-item-action
{
!important border-radius: 5px;
  color: #000;
}

.active
{
  border-radius: 5px;
}

.box {
  position: relative;
  display: inline-block;
  background-color: #fff;
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box:hover {
  -webkit-transform: scale(1.02, 1.02);
  transform: scale(1.02, 1.02);
}

.box:hover::after {
  opacity: 1;
}

.box:hover .doctor-name {
  color: #257CBF;
}

.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes shake {
  0%, 100% {-webkit-transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-5px);}
  20%, 40%, 60%, 80% {-webkit-transform: translateX(5px);}
}

@keyframes shake {
  0%, 100% {transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {transform: translateX(-5px);}
  20%, 40%, 60%, 80% {transform: translateX(5px);}
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}

.wrong {
  color: red;
  font-size: 12px;
  margin-top: 8px;
}

.center-vertical
{
  display: flex;
  justify-content: left; /* align horizontal */
  align-items: center; /* align vertical */
}

h2
{
  font-size: 32px;
  color: #0A2D44;
  font-weight: bold;
}

.div-center {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  display: table;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 300px;
}

.center-horiz {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.outer-div
{
  padding: 64px;
}
.inner-div
{
  margin: 0 auto;
  max-width: 700px;
}

.dropdown
{
  z-index: 1000000 !important;
}

a {
  color: #257CBF;
}

.heart {
  cursor: pointer;
  height: 64px;
  width: 64px;
  background-image:url( 'https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png');
  background-position: left;
  background-repeat:no-repeat;
  background-size:2900%;
}

.heart:hover {
  background-position:right;
}

.heart-added {
  cursor: pointer;
  height: 64px;
  width: 64px;
  background-image:url( 'https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png');
  background-position: right;
  background-repeat:no-repeat;
  background-size:2900%;
}

.is_animating {
  animation: heart-burst .8s steps(28) 1;
}

.is_disanimating {
  animation: heart-unburst .8s steps(28) 1;
}

.red{
  background-color:  crimson !important;
  border: crimson;
}

@keyframes heart-burst {
  from {background-position:left;}
  to { background-position:right;}
}

@keyframes heart-unburst {
  from {background-position:right;}
  to { background-position:left;}
}